@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-cream text-primary-brown;
  }
}

/* Custom Number Input Styling */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  opacity: 1;
  background: white;
  color: #e07b37;
  border-radius: 2px;
  height: 100%;
  cursor: pointer;
  display: block;
  width: 12px;
}